body {
    background-color: #1B2021;
}

.movies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px){
        gap: 8px;
    }
}

hr {
    border: 1px solid rgba(92, 92, 92, 0.705);
}

.notFound {
    color: rgb(255, 223, 223);
    background-color: rgb(255, 61, 61);
    border-radius: 10px;
    padding: 4px 0;
    text-align: center;
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #585858;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6741D9;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}